import /init.recovery.qcom_decrypt.rc

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    # Create location for fs_mgr to store abbreviated output from filesystem
    # checker programs.
    mkdir /dev/fscklogs 0770 root system

on fs
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    chown system system /sys/bus/i2c/drivers/aw8624_haptic/2-005a/f0_save
    chown system system /sys/bus/i2c/drivers/aw8624_haptic/2-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8624_haptic/2-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8624_haptic/2-005a/custom_wave
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    insmod /vendor/lib/modules/exfat.ko
    install_keyring
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    # Set fscklog permission
    chown root system /dev/fscklogs/log
    chmod 0770 /dev/fscklogs/log

on init
    setprop sys.usb.configfs 1 

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot 
    seclabel u:r:recovery:s0

service overrideprops /system/bin/overrideprops.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service vendor.qti.vibrator /system/bin/vendor.qti.hardware.vibrator.service
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

service vibratorfeature-hal-1-0 /system/bin/vendor.xiaomi.hardware.vibratorfeature@1.0-service
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0
    onrestart restart vibratorfeature

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    write /sys/class/udc/${ro.boot.usbcontroller}/device/../mode peripheral

on boot
    start boot-hal-1-1
    start health-hal-2-1
    start set_permissive
    start overrideprops
    setprop sys.usb.config mtp,adb
#
